__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/
*.log
*.tmp
*.cache/
cache/
wandb/
runs/
~/.cache/
hf_cache/
datasets/
*.bin
*.safetensors
*.pt
*.ckpt
*.onnx
checkpoints/
artifacts_pos_xlmr/checkpoints_xlmr/
.DS_Store
Thumbs.db
/kaggle/
